.person {
  max-width: 200px;
}

.no-margin {
  margin: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.staffer {
  display: flex;
  margin: 1rem;
}
.staffer .staffer-image {
  border-radius: 50%;
  height: 100px;
  margin-right: 1rem;
}
.staffer p, .staffer .staffer-name {
  margin: .25rem !important;
}
.staffer .staffer-meta {
  color: #959396 !important;
}

body {
  /* background-color: #fafafa; #2c3e50; */
  /* font-family: 'Open Sans', sans-serif; */
}
h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Ubuntu', sans-serif;  */
}

section {
  padding: 0px;
}
table {
  background-color: #ffffff;
}
/*
.section1 {
  background-color: #2c3e50; #18bc9c; #168ccc;
  color: white;
}
.section2 {
  background-color: #fafafa;
}
.footer {
  background-color:  #2c3e50;
  color: white;
}
*/

.brand {
  padding: 0px !important;
  padding-right: 20px !important;
}

.thumbnail {
  max-height: 100px !important;
}

.tr-info {
  background-color: #ccd !important;
}

/* --------- Hover Links ------------ */

.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;

  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}

h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}

/* ---------------------------------- */
